*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #2B1608;
  height: 100vh;
  overflow-y: hidden;
}

nav{
  display: flex;
  height: 6vh;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  border: 1px solid white;
}
nav img{
  height: 5vh;
}

h1 {
  color: white;
}
.main-container{
  display: flex;
  height: 88vh;
  border: 1px solid white;
}
.sidebar {
  
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 1px solid white;
}
a {
  color: white;
}

footer {
  height: 6vh;
  color: white;
  padding: 1rem;
  border: 1px solid white;
}

.container {
  display: flex;
  flex-direction: column;
  
}

.content{
  display: flex;
  justify-content: center;
  align-items: center;
}

.start{
}