@import url('https://fonts.cdnfonts.com/css/chalkduster');
@import url('https://fonts.cdnfonts.com/css/gunny-rewritten');
@import '@mantine/core/styles.css';
@import '@mantine/dates/styles.css';

:root{
  --white: #FBFBFD;
  --green: #073e18;
  --yellow: #ffce80;
  --blue: #4a9ecf;
  --red: #b34d31;
  --orange:  #E77422;
  --purple: #9063CD;
  --orange-post-it: #ffb347;
  --rose-post-it: #ff6fcf;

}
*{
  
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #2B1608;
  min-height: 100vh;
  /* overflow-y: hidden; */
  font-family: 'Chalkduster', sans-serif;
}

a {
  font-size: 20px;
}

button {
  font-size: 13px;
  border-radius: 20px;
  min-width: 100px;
  min-height: 30px;
}

/* #text-area {
  color: #073e18;
} */

nav{
  display: flex;
  height: 6vh;
  padding: 35px;
  justify-content: center;
  gap: 25px;
  align-items: center;
  border-bottom: 1px solid var(--white);
}
nav img{
  margin-top: 10px;
  height: 4vh;
  
}

h1 {
  color: 	var(--white);
  font-size: 2.2rem;
}
h2{
  font-size: 1.8rem;
}
.sidebar {
  
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    /* border: 1px solid 	var(--white); */
    font-size: 1.1rem;
}

a {
  color: 	var(--white);
  text-decoration: none;
}

footer {
  height: 6vh;
  color: 	var(--white);
  padding: 1rem;
  border-top: 1px solid 	var(--white);
  text-align: center;
  font-size: 0.7rem;
}

.about-photo {
  height: 33vh;
}
.about-photo img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 20px;
}

.container {
  display: flex;
  flex-direction: column;
}

.main-container{
  display: flex;
  min-height: 88vh;
  /* border: 1px solid 	var(--white); */
}

.content{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--green);
  width: 100%;
}

.start{
  background-color: 	var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 40vw;
  min-width: 300px;
  height: 40vh;
  min-height: 200px;
  border-radius: 20px;
  padding: 2rem;
  text-align: center;
}

.btn{
  border-radius: 30px;
  font-size: 1.2rem;
  line-height: 2.4rem;
  width: 100%;
  cursor: pointer;
}

.btn-start{
  width: 100px;
  border:  1px #2B1608 solid;
  background-color: var(--green);
  color: 	var(--white);
}
.btn-start:hover{
  width: 100px;
  border:  1px #2B1608 solid;
  background-color: #0f9239;
  color: 	var(--white);
}
.btn-details{
  color: var(--blue)
}
.btn-update{
  pointer-events: all;
  cursor: pointer;
  color:var(--purple);
  
}
.btn-delete{
  pointer-events: all;
  cursor: pointer;
  color:var(--red);
}

.about-entire-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--green);
    width: 100%;
  }

#about-container {
    background-color: var(--green);
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

#about-container li {
  margin-bottom: 10px;
}

#about-container  {
  text-align: center;
  width: 100%;
  margin-bottom: 0px;
}

#about-us-container {
  background-color: var(--green);
    color: var(--white);
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
    /* max-width: 800px; */
    /* margin: 0 auto; */
    padding: 20px;
}

.card-container{
  background: #eae672;
  color: black;
  position: relative;
  transform: rotate(-2deg);
  margin-bottom: 10px;
  padding: 10px;
  font-size: 0.9rem;
  font-family: 'Gunny Rewritten', sans-serif;
  z-index: 2;
  box-shadow: 0 0 10px rgba(255, 251, 119, 0.4);
}
.card-container h3{
  text-align: center;
  font-size: 1.1rem;
}

.card-container p{
  padding: 0 10px;
}
.card-container section{
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.card-container div:last-child{
  text-align: center;
}
.card-container-draggable{
  cursor: grab;
}
.card-container-draggable:active{
  cursor: grabbing;
}
.card-container-details{
  background-color: var(--green);
  color: var(--white);
  width: 100%;
  padding: 30px;
  text-align: center;
}
.date-container{
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.list-container{
  background-color: var(--green);
  color: 	var(--white);
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.list-container div{
  width: 100%;
}

.toDo-container, .doing-container, .done-container, .form-container{
  width: 100% ;
  border : 2px 	var(--white) solid;
  border-radius: 20px;
  padding: 20px;
  min-height: 96vh;
  /* justify-content: space-between; */
}

.doing-container{
  border-color: var(--yellow);
}
.doing-container h2{
  color: var(--yellow);
}

.done-container{
  border-color: var(--red);
}
.done-container h2{
  color: var(--red);
}

.toDo-container{
  border-color: var(--blue);
}
.toDo-container h2{
  color: var(--blue);
}

.toDo-container h2, .done-container h2,.doing-container h2, form h2{
  padding-bottom: 10px;
  text-decoration:underline 3px;
  text-underline-offset: 10px;
}
.toDo-container h2, .done-container h2,.doing-container h2{
  padding-bottom: 20px;
}
.form-container {
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 20px;
  border-color: var(--purple);
}

.form-container input,
.form-container select,
.form-container .text-area,.mantine-Input-input{
  align-self: flex-start;
  width: 100%;
  margin-bottom: 5px;
  background-color: var(--green);
  color: var(--white);
  border: 1px solid var(--white);
  border-radius: 5px;
  font-family: 'Chalkduster', sans-serif;

}

.mantine-Popover-dropdown{
  background-color: var(--green);
  color: var(--white);
}
.mantine-Popover-dropdown button:hover{
  color:var(--green);
}
button[data-selected="true"]{
  background-color:var(--yellow);
  color: black;
}
.mantine-DatePickerInput-day{
  color: var(--white);
}
[data-weekend="true"]{
  color:var(--red)
}
.mantine-DatePickerInput-weekday{
  color: var(--yellow);
}
input, select, textarea{
  padding: 5px;
}

.form-container h2, form h3{
  color: var(--purple)
}
label{
  font-size: 0.9rem;
  font-weight: 300;
  color: var(--yellow)
}
.text-area{
  min-height: 200px;
  width: 100%;
  resize: none;
}
.bgRose{
  background-color: var(--rose-post-it);
  box-shadow: 0 0 10px rgba(255, 111, 207, 0.4);
}
.bgOrange{
  background-color: var(--orange-post-it);
  box-shadow: 0 0 10px rgba(255, 179, 71, 0.4);
}


/* .container {
  display: flex;
  flex-direction: column;
}

.list-container{
  background-color: var(--green);
  color: 	var(--white);
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.main-container{
  display: flex;
  height: 88vh;
  border: 1px solid 	var(--white);
}

.toDo-container, .doing-container, .done-container{
  width: 100% ;
  border : 2px 	var(--white) solid;
  border-radius: 20px;
  padding: 20px */
  /* justify-content: space-between; */
/* }
.toDo-container{
  border-color: var(--blue);
}
.toDo-container h2{
  color: var(--blue);
}
.doing-container{
  border-color: var(--yellow);
}
.doing-container h2{
  color: var(--yellow);
}

.done-container{
  border-color: var(--red);
}
.done-container h2{
  color: var(--red);
}

.toDo-container h2, .done-container h2,.doing-container h2{
  padding-bottom: 20px;
  text-decoration:underline 3px;
  text-underline-offset: 10px;

}
.card-container{
  background: #eae672;
  color: black;
  position: relative;
  transform: rotate(-2deg);
  margin-bottom: 10px;
  padding: 10px;
  font-size: 0.9rem;
  font-family: 'Gunny Rewritten', sans-serif;
}
.card-container h3{
  text-align: center;
  font-size: 1.1rem;
}

.date-container{
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.card-container p{
  padding: 0 10px;
}
.card-container section{
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.card-container div:last-child{
  text-align: center;
}

.card-container-details{
  background-color: var(--green);
  color: var(--white);
  width: 100%;
  padding: 30px;
  text-align: center;
} */
